@import './reset.css';
@import './fonts/pretendard.css';
@import './fonts/lemon.css';
@import './fonts/sangju.css';

html {
  font-size: 10px;
}

@media (max-width: 1440px) {
  html {
    font-size: 6px;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 12px;
  }
}
@media (max-width: 430px) {
  html {
    font-size: 10px;
  }
}

* {
  box-sizing: border-box;
  font-family: 'pretendard';
}

body {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  font-family: 'pretendard', 'sangju', 'Lemon', sans-serif;
  font-size: 1.4rem;
  color: #fefefe;
  background-color: #000;
}
.swiper-pagination-bullets {
  top: 60% !important;
  right: 15% !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  @media (max-width: 768px) {
    top: 53% !important;
    right: 2% !important;
    transform: translate(50%, -50%);
  }
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 1.5rem !important;
  height: 1.5rem !important;
  padding: 0.2rem;
  border: 1px solid #fefefe;
  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: #fefefe;
    border-radius: 50%;
  }
  @media (max-width: 768px) {
    width: 1.2rem !important;
    height: 1.2rem !important;
  }
}

.swiper-pagination-bullet {
  width: 1.2rem !important ;
  height: 1.2rem !important;
  background-color: transparent !important;
  border: 2px solid #b8b8b8;
  opacity: 1 !important;
  margin: 0 !important;
  @media (max-width: 768px) {
    width: 1rem !important;
    height: 1rem !important;
  }
}
